<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FF7315" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="icon-96x96.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>The Breakfast Club</title>
</head>

<body>
    <a href="#maincontent" class="btn-skip">Skip to content</a>

    <header class="header">
        <div class="header-inner">
            <h1 class="header-title">The Breakfast Club</h1>
        </div>
        <a href="#" id="menu" class="header-menu" aria-label="navigation-menu">☰</a>

    </header>

    <nav id="drawer" class="nav">
        <ul class="nav-list">
            <li class="nav-item"><a href="./index.html">Home</a></li>
            <li class="nav-item"><a href="#/favorite">Favorite</a></li>
            <li class=" nav-item"><a href="https://dribbble.com/YohanesYuda">About Us</a></li>
        </ul>
    </nav>

    <div class="hero">
        <div class="hero-inner">
            <h2 tabindex="0" class="hero-title">A place where food and ambiance come together to create a
                memorable experience</h2>
        </div>
    </div>


    <main tabindex="0" id="maincontent"></main>

    <footer>
        <p class="footer-text"><span>Copyright © 2022</span> The Breakfast Club</p>
    </footer>

</body>

</html>