@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
    --orange: #FF7315;
    --dark-grey: #3A3535;
    --dark: #232020;
    --grey: #E8EAE6;
    --bone-white: #F4F4F4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--grey-2);
    font-family: 'Bebas Neue', cursive;
    font-size: 14px;
}


/* skip */
a {
    text-decoration: none;
    color: var(--bone-white);
}

.btn-skip {
    position: absolute;
    top: -40px;
    left: 0;
    color: var(--dark);
    padding: 8px;
    z-index: 100;
}

.btn-skip:focus {
    top: 100px;
}

/* header */
.header {
    min-height: 50px;
    transition: min-height 0.3s;
}

.header-inner {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    font-size: 50px;
    margin: 0.5em 0.25em;
    letter-spacing: 5px;
    display: inline-block;
    color: var(--dark);
}


/* navbar */
.nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
}

.nav-list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-item {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}

.nav a {
    display: inline-block;
    padding: 1.3em;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--orange);

}

.nav a:hover {
    color: var(--grey);
    transition: 0.3s;
}

/* jumbotron */
.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(90deg, rgba(18, 18, 18, 0.35),
            rgba(18, 18, 18, 0.35)),
        url("../public/images/heros/hero-image_4.jpg");
    background-size: cover;
    background-position: center;
}

.hero-inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero-title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
}

.header-menu {
    font-size: 31px;
    margin: 10px auto;
    display: block;
    width: 44px;
    color: var(--dark);
}

/* content */

main {
    width: 100%;
    margin: 0 auto;
}

.container {
    padding: 24px;
}

.katalog-section {
    width: 100%;
    margin: 16px auto;
    text-align: center;
}

.katalog-label,
.detail-label {
    text-align: center;
    padding: 30px;
    letter-spacing: 2px;
    font-size: 35px;
    color: var(--dark);
    letter-spacing: 3px;
    font-weight: 500;
}

.restoran-section {
    margin: 32px auto auto;
    text-align: left;
}

.card {
    box-shadow: 0 10px 20px 0 rgba(121, 135, 119, 0.4);
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 250px;
    border-radius: 12px;
    padding: 8px;
}

.card-text-section {
    padding: 0 16px 16px 16px;
}

.card-title a {
    font-weight: 500;
    padding: 8px 0;
    margin: 8px 0;
    font-size: 22px;
    text-decoration: none;
    color: var(--dark-grey);
}

.card-title:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.card-rating {
    font-size: 14px;
    letter-spacing: 3px;
    color: var(--orange);
}

.card-rating span {
    color: var(--dark);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
}

.card-city {
    letter-spacing: 1px;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    margin-right: 20em;
    color: var(--orange);
}

.card-description {
    font-family: 'Inter', sans-serif;
    margin-top: 8px;
    font-size: 13px;
    line-height: 1.5em;
    color: var(--dark-grey);

    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* detail */


.detail-restaurant-content {
    margin: 40px auto;
}

.card-detail {
    width: 100%;
}

.rating i {
    font-size: 14px;
    letter-spacing: 3px;
    color: var(--orange);
}

.restaurant-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
}

.restaurant-detail-content {
    width: 100%;
    margin: 40px 0;
}

.restaurant-detail {
    padding: 20px;
}

.restaurant-title {
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 10px;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 500;
}

.restaurant-desc {
    margin: 10px 0;
    align-items: justify;
    line-height: 1.5em;
    font-size: 14px;
    color: var(--dark-grey);
    font-family: 'Inter', sans-serif;
}

.restaurant-location {
    margin-top: 25px;
}

.restaurant-location p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: var(--dark-grey);
    margin: 5px 0;
}

.restaurant-location span {
    color: var(--dark);
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
}

.detail-title {
    margin-top: 25px;
    font-weight: 500;
    font-size: 22px;
    color: var(--dark);
    letter-spacing: 1px;
}

.category-name {
    display: inline-block;
    font-size: 14px;
    padding: 8px 0;
    border-radius: 25px;
    margin: 5px 5px 0 0;
    text-align: center;
    width: 12%;
    background-color: var(--orange);
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.food-name,
.drink-name {
    display: inline-block;
    color: var(--dark-grey);
    margin: 5px 0;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.review-title {
    margin: 70px 0 40px 0;
    text-align: center;
    font-weight: 500;
    font-size: 28px;
}

.review-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.review-item {
    border: 1px solid var(--bone-white);
    padding: 20px 10px;
    margin: 20px auto;
    text-align: center;
    width: 75%;
    border-radius: 20px;
    background-color: #fff;
}

.review-name {
    margin: 15px 0;
    font-size: 18px;
    letter-spacing: 2px;
    color: var(--orange);
    font-weight: 500;
}

.review-date {
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    margin: 15px 0;
    color: var(--dark-grey);

}

.review-comment {
    margin: 15px 0;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

/* form */

form {
    width: 100%;
    padding-top: 30px;
    display: inline-block;
    text-align: left;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    color: var(--orange);
    display: block;
}

input {
    width: 100%;
    padding: 14px;
    margin-bottom: 30px;
}

textarea {
    width: 100%;
    padding: 10px;
    height: 15vh;
    margin-bottom: 20px;
}

.btnSubmit {
    padding: 15px 40px;
    background-color: var(--orange);
    border: none;
    cursor: pointer;
    display: block;
    color: #fff;
}

/* like */

.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: var(--orange);
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .like:focus {
    outline: none;
} */


/* footer */

footer {
    padding: 20px;
    width: 100%;
    text-align: center;
}

footer span {
    color: var(--dark);
}

footer p {
    color: var(--orange);
    font-size: 16px;
    letter-spacing: 2px;
}